body {
    background-image: url('https://wi-images.condecdn.net/image/B1NZW376pxM/crop/1620/f/space_11.jpg');
  background-size:cover;
}
#container {
    display:grid;
    grid-columns: 50% 50%;
}

#launch1 {
    display:flex;
    flex-direction:column;
    align-items:center;
}
#launch2 {
    display:flex;
    flex-direction:column;
    align-items:center;
}
#card1 {
    width:570px;
    height:auto;
}
#card2 {
    width:570px;
    height:auto;
}