<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="static/style-index.css">
        <link rel="stylesheet" href="static/style-launches.css">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <!--     materialize icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <nav>
          <div class="nav-wrapper blue">
            <a href="index" class="brand-logo">
              <img id="logo" src="https://www.stickpng.com/assets/images/5842a770a6515b1e0ad75afe.png">  
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="next-launch">Next Launch</a></li>
              <li><a href="last-launch">Last Launch</a></li>
              <li><a href="previous-launches">Random Launches</a></li>
            </ul>
          </div>
        </nav>
        <div id="container1">
            <div class="row">
                <div id="card1" class="col s12 m6">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">Next Launch</span>
                            <p>Next launch is at {{ launch_date }}</p>
                            <p>The rocket model is the {{ rocket_name }}</p>
                            <p>The launch will be at {{ site_name_long }}</p>
                        </div>
                        <div class="card-action">
                        </div>
                    </div>
                </div>
            </div>
            <a id="countdown" class="waves-effect waves-light btn-large" href='next-countdown'>Countdown</a>
        </div>
    </body>
</html>